<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.infinity.infoway.bmu">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.markattendence.markattendence.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo_b"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity android:name="com.infinity.infoway.bmu.activity.Student_attendance_backup"></activity>
        <activity
            android:name="com.infinity.infoway.bmu.activity.E_Learning"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.E_Learning_PostList"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.E_LearningAddPost"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.infinity.infoway.bmu.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- <activity android:name=".activity.SplashScreen"> -->
        <activity android:name="com.infinity.infoway.bmu.activity.Acollspan">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.infinity.infoway.bmu.activity.EmployeeFillAttendanceActivity_configuration"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name="com.infinity.infoway.bmu.activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
 <activity android:name=".activity.FacultyAttendance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name="com.infinity.infoway.bmu.activity.Main3Activity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.AnnouncementFaculty"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.AnnouncementStudentActiivty"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.AssignmentEmployeeActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.AssignmentActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.DirectivePageActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.E_Learning_List"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.EmployeeFillAttendanceActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.FacultyAttendance"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.FillAttendanceActivityfaculty"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.HomeworkActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.InternshipWorkReport"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.Leave_emp"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.LeaveStudentApply"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.NewEmpLectPlan"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.NewEmpLecturePlanDetail"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.NewsGroupWise"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.Notification_Activity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.PendingfeesActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.PlacementActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.Profile"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.PunchInPunchOutActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.ViewInternshipWorkReportActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.Employee_Attendance"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.Remaining_Attendance"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.ForgotPassword"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.EmployeeLeave"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.Student_Attendance"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.Syllabus"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.testi"
            android:theme="@style/MyMaterialTheme.Base" />

        <service
            android:name="com.infinity.infoway.bmu.service.MyFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.infinity.infoway.bmu.service.MyFirebaseMessagingServicee"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service> <!-- <receiver -->
        <!-- android:name="com.google.android.gcm.GCMBroadcastReceiver" -->
        <!-- android:permission="com.google.android.c2dm.permission.SEND"> -->
        <!-- <intent-filter> -->
        <!-- &lt;!&ndash; Receives the actual messages. &ndash;&gt; -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE"/> -->
        <!-- &lt;!&ndash; Receives the registration id. &ndash;&gt; -->
        <!-- <action android:name="com.google.android.c2dm.intent.REGISTRATION"/> -->
        <!-- <category android:name="com.markattendence.markattendence"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(
     https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" /> <!-- <receiver -->
        <!-- android:name=".app.NotificationReceiver" -->
        <!-- android:exported="true" -->
        <!-- android:permission="com.google.android.c2dm.permission.SEND"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <service -->
        <!-- android:name=".service.Background_Service" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" -->
        <!-- android:stopWithTask="false" /> -->
        <!-- <receiver -->
        <!-- android:name=".app.AutoStartNotifyReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:permission="android.permission.RECEIVE_BOOT_COMPLETED"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="com.infinity.infoway.bmu.activity.Login" />
        <!--<activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />-->
        <activity
            android:name="com.infinity.infoway.bmu.activity.Lectureplan_Detail"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.Fees_Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.FeedBack"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.FeePayment"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.Receipt_Activity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity android:name="com.infinity.infoway.bmu.activity.CircularActivity" />
        <activity android:name="com.infinity.infoway.bmu.activity.Employee_news" />
        <activity android:name="com.infinity.infoway.bmu.activity.EmployeeAttendance" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.Student_Main_Activity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity android:name="com.infinity.infoway.bmu.activity.ChangePasswordActivity" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.ExamDisplayTimeTable"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.ExamTimetableDetailActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.Timetable"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.Timetable_employee"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.ViewLeaveApplication"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.webViewDemo"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.FeeCircularActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.Leaveapplication"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.ELearningActivity"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.AssignmentStudentActiivty"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.ResultActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/MyMaterialTheme.Base" />
        <activity
            android:name="com.infinity.infoway.bmu.activity.ELerningStudentActivity"
            android:configChanges="screenSize|orientation"
            android:theme="@style/MyMaterialTheme.Base">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>




        <!--activities of hr app-->
        <activity android:name="com.infinity.infoway.bmu.HrAppActivities.StatisticsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>

       <!-- <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notify_launcher" />-->

        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.CoffDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.COffLeaveApprovalActitivty"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.ForgotpasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.ChangePasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.AttendanceReportActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.SlarySlipActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.ApplyCancelLeaveActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.ViewCancelLeaveDetailsOnly"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.LeaveApplicationApproveReject"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.ViewCancelLeaveActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.ViewApproveCancelLeaveActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.ViewLeaveListingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.MissPunchApprovedActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.AddMissPunchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.MissPunchUpdateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.CancelLeaveApproveRejectActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.MissPunchApproval"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.MyMissPunchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.LeaveBalanceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <!--
  <activity
            android:name=".Activity.LeaveApprovalActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        -->
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.ViewAllLeavePunchInOut"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.ApproveLeaveActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.AddLeaveAcivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.ViewLeaveActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.ProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
      <!--  <activity
            android:name=".HrAppActivities.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <!--
                    <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        -->
        <activity
            android:name="com.infinity.infoway.bmu.HrAppActivities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->
        </activity> <!-- Firebase Notifications -->
        <service
            android:name="com.infinity.infoway.bmu.HrService.MyFirebaseMessagingService"
            android:exported="false">

            <!--
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.infinity.infoway.bmu.HrService.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service> <!-- ./Firebase Notifications -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.infinity.infoway.bmu.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>